<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/form-validation.css">
    <title>RPT add</title>
</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>Форма регистрации материала</h2>
        <p class="lead">В полях ниже необходимо заполнить информацию, основываяь на поступишем постановлении</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-3">Данные из постановления</h4>
            <form class="needs-validation" action="/add" th:action="@{add}" novalidate method="post">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="code">Код экспертизы присвоенный УКСД*</label>
                        <input type="text" class="form-control" name="code" id="code" placeholder="Включая 3.5/"
                               value="" required>
                        <div class="invalid-feedback">
                            Код экспертизы должен быть введен.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="dateIntake">Дата регистрации в УКСД*</label>
                        <input type="date" class="form-control" name="dateIntake" id="dateIntake" placeholder=""
                               value=""
                               required>
                        <div class="invalid-feedback">
                            Дата поступления в ГКСЭ должна быть введена.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="initiator">Фамилия И.О. инициатора*</label>
                        <input type="text" class="form-control" name="initiator" id="initiator"
                               placeholder="Иванов И.И." value="" required>
                        <div class="invalid-feedback">
                            Фамилия И.О. инициатора должны быть введены.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="dateOfAppointment">Дата вынесения постановления инициатором*</label>
                        <input type="date" class="form-control" name="dateOfAppointment" id="dateOfAppointment"
                               placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Дата вынесения постановления иницатором должна быть введена.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="reason">Основания для назначения</label>
                            </div>
                            <select class="custom-select" id="reason" name="reason">
                                <option selected value="CRIMINALCASE">Уголовное дело</option>
                                <option value="REVIEWCASE">Материал проверки</option>
                                <option value="CIVILIANCASE">Гражданское дело/заявление физ. лица</option>
                                <option value="OTHER">Другое</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="numberOfCase">Номер основания/заявления</label>
                            </div>
                            <input type="text" class="form-control" name="numberOfCase" id="numberOfCase"
                                   placeholder="" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="staticTelephone">Стационарный телефон инициатора</label>
                        <input type="text" class="form-control" name="staticTelephone" id="staticTelephone"
                               placeholder="0000000" value="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="mobileTelephone">Мобильный телефон инициатора</label>
                        <input type="text" class="form-control" name="mobileTelephone" id="mobileTelephone"
                               placeholder="375295745987" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="typeOfCase">Тип экспертизы</label>
                            </div>
                            <select class="custom-select" id="typeOfCase" name="typeOfCase">
                                <option selected value="ORIGINAL">Первоначальная</option>
                                <option value="ADDITIONAL">Дополнительная</option>
                                <option value="REPEAT">Повторная</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="kindOfExamination">Вид экспертизы</label>
                            </div>
                            <select class="custom-select" id="kindOfExamination" name="kindOfExamination">
                                <option value="REU" selected>Рэу</option>
                                <option value="KT">Кт</option>
                                <option value="FONO">Фоно</option>
                                <option value="LINGVO">Лингво</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <label for="objectOfCase">Объект(ы) экспертизы</label>
                        <input type="text" class="form-control" name="objectOfCase" id="objectOfCase" placeholder=""
                               value="">
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="numberOfObjects">Количество объектов</label>
                        <input type="text" class="form-control" name="numberOfObjects" id="numberOfObjects"
                               placeholder="0" value="">
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="numberOfQuestions">Количество вопросов</label>
                        <input type="text" class="form-control" name="numberOfQuestions" id="numberOfQuestions"
                               placeholder="0" value="">
                    </div>
                </div>
                <hr class="mb-4">
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="examinerName">Кому поручено проведение
                                экспертизы</label>
                        </div>
                        <select class="custom-select" id="examinerName" name="examinerName" th:name="examinerName">
                            <option th:each="examiner : ${examiners}" th:value="${examiner.getExaminerName()}"
                                    th:text="${examiner.getExaminerName()}"></option>
                        </select>
                    </div>
                </div>
                <hr class="mb-4">
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить данные</button>
            </form>
        </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 GKSE</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Статистика</a></li>
            <li class="list-inline-item"><a href="#">Сообщить об ошибке</a></li>
        </ul>
    </footer>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
</script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>