<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/form-validation.css">
    <title>RPT Search</title>
</head>
<body class="bg-light">
<nav th:insert="navbar :: topnavbar"></nav>
<div class="container-fluid">
    <div class="py-5 text-center">
        <h2>Форма поиска материалов</h2>
    </div>
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <h4 class="mb-3">Введите данные для поиска информации</h4>
            <form action="/filter" th:action="@{filter}" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <label for="code">Код экспертизы присвоенный УКСД</label>
                        <input type="text" class="form-control" name="code" id="code" placeholder=""
                               value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="dateFrom">Дата поступления с...</label>
                        <input type="date" class="form-control" name="dateFrom" id="dateFrom" placeholder=""
                               value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="dateTo">Дата поступления по...</label>
                        <input type="date" class="form-control" name="dateTo" id="dateTo" placeholder=""
                               value="">
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <label for="kindOfExamination">Вид экспертизы</label>
                        <select class="custom-select" id="kindOfExamination" name="kindOfExamination"
                                th:name="kindOfExamination">
                            <option th:each="kindOfExam : ${kindOfExamination}" th:value="${kindOfExam.toString()}"
                                    th:text="${kindOfExam.toString()}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="typeOfCase">Тип экспертизы</label>
                        <select class="custom-select" id="typeOfCase" name="typeOfCase" th:name="typeOfCase">
                            <option th:each="type : ${typeOfCase}" th:value="${type.toString()}"
                                    th:text="${type.toString()}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="difficulty">Сложность</label>
                        <select class="custom-select" id="difficulty" name="difficulty" th:name="difficulty">
                            <option th:each="difficult : ${difficulty}" th:value="${difficult.toString()}"
                                    th:text="${difficult.toString()}"></option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                    </div>

                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit"><span data-feather="search"></span>
                    Найти...
                </button>
            </form>


        </div>
        <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h4>Найденные экспертизы</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Код экспертизы</th>
                        <th scope="col">Дата поступления</th>
                        <th scope="col">Эксперт</th>
                        <th scope="col">Инициатор</th>
                        <th scope="col">Вид экспертизы</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="examination : ${examinations}">
                        <td th:text="${examination.getCode()}"></td>
                        <td th:text="${examination.getDateIntake()}"></td>
                        <td th:text="${examination.getExaminer().getExaminerName()}"></td>
                        <td th:text="${examination.getInitiator()}"></td>
                        <td th:text="${examination.getKindOfExamination()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<footer th:insert="navbar :: footer"></footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
</script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<div th:insert="navbar :: scriptForIcons"></div>
</body>
</html>